body {
  background: peachpuff;
  margin: 0;
  padding: 10px;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(100vh - 20px);
  border: 2px solid blueviolet;
  text-align: center;
}

.a {
  border: 2px solid black;
  flex-grow: 1;
  height: 20%;
  margin: 1em;
}

.middle-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.middle-container-1 {
  display: flex;
  height: 100%;
}

.middle-container-2 {
  display: flex;
  height: 100%;
}

.b, .c, .d, .e, .f, .g {
  border: 2px solid black;
  height: 100%;
  flex-grow: 1;
}

.h {
  border: 2px solid black;
  height: 20%;
  flex-grow: 1;
  margin: 1em;
}

@media (min-width: 600px) {
  .container {
    flex-wrap: wrap;
    flex-direction: row;
}

  .a {
    height: 15%;
    flex-basis: 100%;
  }

  .middle-container {
    flex-grow: 2;
    height: unset;
  }

  .middle-container-1 {
    height: 47%;
    width: unset;
    margin: 0 0 1em;
  }

  .middle-container-2 {
    height: 46%;
    width: unset;
    margin: 0 0 1em;
  }

  .b, .c, .d, .e, .f, .g {
    margin: 1em;
  }

  .h {
    height: 78%;
    flex-grow: 1;
}
}