body {
  background: papayawhip;
}

.container {
    border: 2px solid peru;
    display: flex;
    text-align: center;
    height: 100vh;
    flex-direction: column;
  }

.a {
   flex-grow: 1;
   border: 2px solid palevioletred;
   margin: 1em;
}

.b {
  flex-grow: 3;
  min-height: 50vh;
  border: 2px solid palevioletred;
  margin: 1em;
}